<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="Host.AccountManager" behaviorConfiguration="metadata">
        <endpoint address="http://localhost:8009/AccountService" binding="basicHttpBinding" contract="EvilCorp.AccountService.IAccountService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>